In [1]:
# Import dependencies
import pandas as pd 
from sqlalchemy import create_engine 
#from config import password

In [2]:
# Import csv file 
county_file = "NCHS_-_Teen_Birth_Rates_for_Age_Group_15-19_in_the_United_States_by_County.csv"
county_df = pd.read_csv(county_file)
county_df

,Year,State,County,State FIPS Code,County FIPS Code,Combined FIPS Code,Birth Rate,Lower Confidence Limit,Upper Confidence Limit
0,2003,Alabama,Autauga,1,1,1001,48.4,42.1,55.2
1,2004,Alabama,Autauga,1,1,1001,46.4,41.6,51.4
2,2005,Alabama,Autauga,1,1,1001,44.1,40.3,48.1
3,2006,Alabama,Autauga,1,1,1001,44.3,40.8,48.0
4,2007,Alabama,Autauga,1,1,1001,43.7,40.3,47.3
...,...,...,...,...,...,...,...,...,...
50187,2014,Wyoming,Weston,56,45,56045,30.4,22.6,39.1
50188,2015,Wyoming,Weston,56,45,56045,28.6,20.6,37.9
50189,2016,Wyoming,Weston,56,45,56045,26.8,18.4,36.7
50190,2017,Wyoming,Weston,56,45,56045,25.4,16.6,36.3
50191,2018,Wyoming,Weston,56,45,56045,24.2,14.8,36.3

In [3]:
# Renaming columns to remove spaces
county_df.rename(columns={'Year': 'year', 'State':'state', 'County':'county', 'State FIPS Code':'state_fips_code', 
                        'County FIPS Code':'county_fips_code','Combined FIPS Code': 'combined_fips_code', 
                        'Birth Rate':'birth_rate', 'Lower Confidence Limit':'lower_confidence_limit',
                        'Upper Confidence Limit':'upper_confidence_limit'}, inplace=True)

county_df.head(10)

,year,state,county,state_fips_code,county_fips_code,combined_fips_code,birth_rate,lower_confidence_limit,upper_confidence_limit
0,2003,Alabama,Autauga,1,1,1001,48.4,42.1,55.2
1,2004,Alabama,Autauga,1,1,1001,46.4,41.6,51.4
2,2005,Alabama,Autauga,1,1,1001,44.1,40.3,48.1
3,2006,Alabama,Autauga,1,1,1001,44.3,40.8,48.0
4,2007,Alabama,Autauga,1,1,1001,43.7,40.3,47.3
5,2008,Alabama,Autauga,1,1,1001,41.7,38.4,45.1
6,2009,Alabama,Autauga,1,1,1001,38.8,35.6,42.0
7,2010,Alabama,Autauga,1,1,1001,34.8,31.9,37.8
8,2011,Alabama,Autauga,1,1,1001,32.0,29.2,34.9
9,2012,Alabama,Autauga,1,1,1001,30.4,27.7,33.2

In [4]:
# Separate out state codes to prep to add in leading zeroes 
county_df_lessthan10 = county_df[county_df['state_fips_code'] < 10]
county_df_greaterthan10 = county_df[county_df['state_fips_code'] >= 10]

# Change state and county codes to string types
county_df_greaterthan10['state_fips_code'] = county_df_greaterthan10['state_fips_code'].astype('str')
# Changing to string and adding a leading zero to state codes less than 10 (e.g., 01, 05, etc.) 
county_df_lessthan10['state_fips_code'] = county_df_lessthan10['state_fips_code'].astype('str').str.zfill(2)

# Concat the rows together back into a full df
county_df = pd.concat([county_df_lessthan10, county_df_greaterthan10])
county_df

<ipython-input-4-f5202df4fdda>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df_greaterthan10['state_fips_code'] = county_df_greaterthan10['state_fips_code'].astype('str')
<ipython-input-4-f5202df4fdda>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df_lessthan10['state_fips_code'] = county_df_lessthan10['state_fips_code'].astype('str').str.zfill(2)

,year,state,county,state_fips_code,county_fips_code,combined_fips_code,birth_rate,lower_confidence_limit,upper_confidence_limit
0,2003,Alabama,Autauga,01,1,1001,48.4,42.1,55.2
1,2004,Alabama,Autauga,01,1,1001,46.4,41.6,51.4
2,2005,Alabama,Autauga,01,1,1001,44.1,40.3,48.1
3,2006,Alabama,Autauga,01,1,1001,44.3,40.8,48.0
4,2007,Alabama,Autauga,01,1,1001,43.7,40.3,47.3
...,...,...,...,...,...,...,...,...,...
50187,2014,Wyoming,Weston,56,45,56045,30.4,22.6,39.1
50188,2015,Wyoming,Weston,56,45,56045,28.6,20.6,37.9
50189,2016,Wyoming,Weston,56,45,56045,26.8,18.4,36.7
50190,2017,Wyoming,Weston,56,45,56045,25.4,16.6,36.3
50191,2018,Wyoming,Weston,56,45,56045,24.2,14.8,36.3

In [5]:
# Import second csv file

In [6]:
# Filter years